link(rel='stylesheet' href='/main.css')
link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
link(rel='stylesheet' href='//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css')

script(src='/spin.min.js')
script(src='//code.jquery.com/jquery-latest.min.js')
script(src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
script(src='/underscore.js')
