.navbar.navbar-inverse.navbar-static-top(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-items')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar-collapse-items.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a.navbar-brand(rel='home', href='/', title='SentimentSPIM') FB Sentiment
