extends ./layouts/default

block head
  include ./head
block content
  include ./header
  script(src='facebook.js')
  #main-view.container
  script(src='/handlebars.js')
  script(src='/handlebars-helpers.js')
  script(src='/Backbone.js')
  include ./handlebars-templates/main-view
  include ./handlebars-templates/thread-choice
  include ./handlebars-templates/sentiment-analysis-view
  - // bb models

  - // bb collections

  - // bb views
  script(src='main-view.js')
  script(src='thread-choice.js')
  script(src='sentiment-analysis-view.js')
  - // bb routers
  script(src='/router.js')
  - // app
  script(src='/app.js')
