script#main-view-template(type='text/template').
  <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false" scope="read_mailbox">
  </div>
  <div id="status">
  </div>
  <div class="main-panel panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Choose a conversation to analyze
      </h3>
    </div>
    <div class="panel-body">
      <div class="thread-list list-group">
      </div>
    </div>
  </div>
