script#thread-choice(type='text/template').
  <a href="#" class="thread-choice-link list-group-item">
    <p class="list-group-item-text">
        {{commaSeparatedList to.data 'name'}}
    </p>
  </a>
